body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    margin: 0;
}

#view-highscores {
    cursor: pointer;
    padding: 0 20px 15px 0;
}

header > p:first-child {
    color: rgb(74, 29, 126);
}

p {
    margin-top: 0;
}

.container {
    width: 610px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

 .startText {
    display: flex;
    flex-direction: column;
}

 .startText > p {
    text-align: center;
}

.quiz {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.initialsContainer {
    margin-bottom: 1rem;
}

button {
    background: rgb(74, 29, 126);
    color: white;
    outline: none;
    padding: 3px 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

button:hover, button:focus {
    background: rgba(74, 29, 126, 0.8);
}

.btn-spacing {
    margin: 1.4rem .7rem 0 0;
}

.selectionBtn {
    margin: 0 auto 1rem 0;
}

input {
    margin: 0 10px;
    height: 1.4rem;
    width: 230px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #444;
    font-style: italic;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    background: #EBE7F7;
    padding: 5px;
    margin-bottom: 5px;
}

#acknowledge-answer {
    padding: 5px;
    border-top: 2px solid #777;
    color: #777;
    font-style: italic;
    display: none;
}

@media all and (max-width: 700px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
}

@media all and (max-width: 500px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}

@media all and (max-width: 450px) {
    h1 {
        text-align: center;
        font-size: 2rem;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media all and (max-width: 450px) {
    h2 {
        text-align: center;
        font-size: 1.7rem;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

     .startText > p {
        font-size: 1rem;
    }
}