body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

button {
    background: rgb(128, 0, 128);
    color: white;
    outline: none;
    padding: 3px 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

button:hover, button:focus {
    background: rgba(128, 0, 128, 0.7);
}